
body{
	padding: 0px;
	margin:0px;
}
.contact-wrapper{display:flex;
	flex-direction: column;
	height: 100%;
}

.titlebar{
	/*background-image: url("logo-moblie.png");*/
	background-repeat: no-repeat;
	background-color: #2eacc3;
	text-align: center;
	width: 100%;
}

.image1{
	height: 400px;
	background-image: url("images/codedfellow.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
}

.contact-us{
	font-family: courier;
	font-size: 30px;
	background-color: #f39397;
	text-align: center;
	margin:0 auto;
	width:100%;
	color:#2eacc3
	}
.contact-us h1{
justify-content: center
margin:0 auto;}
	

.textbox{
	margin: 0 auto;
	text-align: center;


}

.textbox p{font-family: helvetica;
	text-align: justify;
	margin: 30px 80px;
	padding:10px 10px;
	
	justify-content: right;

}

#textbox-image{ 
	float: left;
	padding: 10px 10px;
	margin-left: 50px;
	margin-top: 30px;
}
.lower-nav nav ul{
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 0;
 }
.lower-nav li{ border: 5px solid white;
	margin: 10px 10px;
	padding: 10px 10px;
	font-family: helvetica;
	background-color: grey;
	border-radius: 20px;
	box-shadow: 3px 3px 8px #2eacc3;
	opacity: 50%;
	color:white;
}
 .lower-nav{
	font-size: 30px;
	background-color: #ed6268;
	text-align: center;
	margin:0 auto;
	width:100%;

}