* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.wrapper p {
	font-size: 24px;
	color: grey;
	line-height: 150%;
}

.section {
	text-align: center;
}

.title {
	background-color: #00AFC3;
	text-align: center;
}

#title {
	width: 35vw;
}

.title__about {
	background-color: #ed6268;
	height: 250px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	color: #00AFC3;
	text-decoration: underline;
	font-family: arial;
}

.section img {
	width: 100%;
	height: 500px;
}

.section p {
	padding: 1em;
}

.lower-nav nav ul{
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 0;
 }
.lower-nav li{ border: 2px solid black;
	margin: 10px 10px;
	padding: 10px 10px;
	font-family: helvetica;
	background-color: grey;
}
 .lower-nav{
	font-size: 30px;
	background-color: #ed6268;
	text-align: center;
	margin:0 auto;
	width:100%;
}

@media (max-width: 600px) {
	#title {
		width: 50vw;
	}
}